<html>
	<head>
		<title>ToDo App</title>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:100"
			rel="stylesheet"
		/>
		<link href="/styles.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<h1 class="header">Tochi's To Do List</h1>
			<form action="/newtask" method="POST">
				<input type="text" name="newtask" placeholder="add a new to do" />
				<button>Add a To Do</button>
				<h2 class="header">Added Todos</h2>
				<% for( var i = 0; i < task.length; i++){ %>
				<li>
					<input type="checkbox" name="check" value="<%= task[i] %>" /> <%=
					task[i] %>
				</li>
				<% } %>
				<button formaction="/removetask" type="submit">Remove</button>
			</form>
			<h2 class="header">Finished Todos</h2>
			<% for(var i = 0; i < complete.length; i++){ %>
			<li><input type="checkbox" checked /><%= complete[i] %></li>
			<% } %>
		</div>
	</body>
</html>
